<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="alert alert-info text-center"><i class="fas fa-store"></i> Venta</h3>
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header"><strong>Tickets</strong></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <p class="card-title">Nombre ticket</p>
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="row">
                                                <button type="button"
                                                class="text-center btn btn-outline-success fas fa-plus float-right px-0"></button>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="row">
                                                <button type="button" class="btn btn-outline-dark fas fa-eye float-right px-0"
                                                placement="top" ngbTooltip="Ver ticket"></button>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-9">
                                    <p class="card-title">Nombre ticket</p>
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="row">
                                                <button type="button"
                                                class="text-center btn btn-outline-success fas fa-plus float-right px-0"></button>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="row">
                                                <button type="button" class="btn btn-outline-dark fas fa-eye float-right px-0"
                                                placement="top" ngbTooltip="Ver ticket"></button>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-header"><strong>seleccionados</strong></div>
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>