<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid w-100">
        <a class="navbar-brand" href="#"><strong>ZooUnibague</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navba22202220191011rNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-cash-register"></i> Taquilla
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/venta"><i class="fas fa-store"></i> Venta</a></li>
                        <li><a class="dropdown-item" routerLink="/devolucion"><i class="fas fa-store-slash"></i> Devolucion</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ticket-alt"></i> Tickets
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['/crear-ticket', null]"><i class="fas fa-ticket-alt"></i> Crear</a></li>
                        <li><a class="dropdown-item" routerLink="/litar-ticket"><i class="fas fa-clipboard-list"></i> Listar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" routerLink="/animales"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-paw"></i> Animales
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/registrar-animales"><i class="far fa-registered"></i> Registrar</a></li>
                        <li><a class="dropdown-item" routerLink="/listar-animales"><i class="fas fa-list"></i> Listar</a></li>
                        <li><a class="dropdown-item" routerLink="/eliminar-animales"><i class="fas fa-eraser"></i> Eliminar</a></li>
                        <li><a class="dropdown-item" routerLink="/buscar-animales"><i class="fab fa-searchengin"></i> Buscar</a></li>
                    </ul>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="#">Habitats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/usuarios"> <i class="fas fa-users"></i> Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pull-left" routerLink="/ventas" style="padding-left: 17cm;"><i class="fas fa-sign-in-alt"></i> Cerrar Sesion </a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Reportes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Reporte usuarios</a></li>
                        <li><a class="dropdown-item" href="#">Reporte habitats</a></li>
                        <li><a class="dropdown-item" href="#">Reporte taquilla</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>