<p>animales works!</p>
<div class="row">
<div class="text-center">
    <img src="https://www.lavanguardia.com/files/image_449_220/uploads/2019/10/02/5fa53234969ff.jpeg"  class="w-auto p-3 h-10" style="background-color: #eee;">
</div>
    
</div>

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card border-primary mb-3">
            <div class="card-header alert alert-info text-center" >
          </div>
          
        </div>
    </div>
        

</div>


<!--<div class="w-25 p-3" style="background-color: #eee;">Width 25%</div>-->