<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="registrar-personas.component.css">
<div>
    <div class="container">
        <br>
        <p class="text-center" style="color: white;">Bienvenidos a la página de registro</p>
        <hr>
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Crear usuario</h4>
                <p class="text-center">Inicia con tu cuenta gratis</p>
                <p>
                    <a class="btn btn-block btn-twitter" style="color: white;"> <i class="fab fa-twitter"></i>Login via Twitter</a>
                    <a class="btn btn-block btn-facebook" style="color: white;"> <i class="fab fa-facebook-f"></i>   Login via facebook
                    </a>
                </p>
                <p class="divider-text">
                    <span class="bg-light">OR</span>
                </p>
                <form style="width: 20cm; transform: translateX(-5cm);">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="nombre" type="text" [(ngModel)]="register.nombre" autocomplete="off">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="apellido" type="text" [(ngModel)]="register.apellido" autocomplete="off">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-sort"></i></span>
                        </div>
                        <input name="" class="form-control" placeholder="edad" type="number" [(ngModel)]="register.edad" autocomplete="off">
                    </div>
                    <label>Fecha de nacimiento</label>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                        </div>
                        <input name="" class="datepicker" placeholder="Día/Mes/Año" type="date" [(ngModel)]="register.fechaDeNacimiento" autocomplete="off">
                    </div>
                    <label>Género</label>
                    <div class="form-group input-group">
                        <select id="inputState" class="form-select" [(ngModel)]="register.genero" autocomplete="off"><i class="fas fa-venus-mars"></i>
                            <option disabled selected>Elegir...</option>
                            <option>Femenino</option>
                            <option>Masculino</option>
                            <option>Otro...</option>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-edit"></i></span>
                        </div>
                        <input name="" class="form-control" placeholder="nombre de usuario" type="text" [(ngModel)]="register.usuario" autocomplete="off">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-money-check"></i></span>
                        </div>
                        <input name="" class="form-control" placeholder="identificación" type="number" [(ngModel)]="register.cedula" autocomplete="off">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="numero de telefono" type="number" [(ngModel)]="register.telefono" autocomplete="off">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="correo electronico" type="text" [(ngModel)]="register.email" autocomplete="off">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock" ></i> </span>
                        </div>
                        <input class="form-control" style="margin-right: 2cm;" placeholder="Create password" type="password" [(ngModel)]="register.contrasena" id='pass' autocomplete="off">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-eye-slash" (click)='ocultarContrasena()'></i> </span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-eye" (click)="mostrarContrasena()"  ></i> </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" (click)="insertarPersonas()"> Crear cuenta </button>
                    </div>
                    <p class="text-center">Ya tienes una cuenta? <a routerLink="/login"><a href="/login">Log in</a></a>
                    </p>
                </form>
            </article>
        </div>
    </div>
</div>
<article class="bg-secondary mb-3">
    <div class="card-body text-center">
        <h3 class="text-white mt-3">Recuerda</h3>
        <p class="h5 text-white">Al darle al boton de registrarte, estás aceptando nuestros términos y condiciones</p>
        <br>
        <p><a class="btn btn-warning" href="https://zooguadalajara.com.mx/terminos-y-condiciones" target="_blank">
                Términos y condiciones
                <i class="fa fa-window-restore "></i></a></p>
    </div>
    <br><br>
</article>